name: Test Github App Auth

on:
  workflow_dispatch:

jobs:
   auth_in:
     runs-on: ubuntu-latest
     steps:
        - name: Checkout
          uses: actions/checkout@v4
          
        - name: Sign in Github Apps
          uses: ./action-app-auth
          id: generate-token
          with:
            appID: ${{ secrets.APP_ID }}
            privateKey: ${{ secrets.APP_PEM }}
        - name: Test Github CLI API
          env:
            GH_TOKEN: ${{ steps.generate-token.outputs.token }}
          run: |
            gh auth status
            git config --global user.name ${{ steps.generate-token.outputs.commit_name }}
            git config --global user.email ${{ steps.generate-token.outputs.commit_address }}
            